.pagination {
  font-size: 25px;
}

.pagination span {
  margin-left: 25px;
  margin-right: 25px;
}

.pagination button {
  border: 0;
  background-color: transparent;
  transition: 0.3s;
}

.pagination button:hover {
  color: black;
}

.pagination button:disabled {
  color: darkgray;
}

.card-deck {
  height: 600px;
  margin-top: 35px;
}

.confirmation {
  background: #f7f7f7;
}

.modal-header {
  background-color: #f7f0f0;
}

.modal-body {
  background-color: #f7f7f7;
}

.confirmation-text {
  display: block;
  font-size: 20px;
  margin-bottom: 30px;
}
