<div class="main-info container text-center">
  <div>
    <h1>Clockware Inc.</h1>
    <span class="w-25"
      >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac elit
      quam. Proin tincidunt euismod sodales. Ut laoreet luctus volutpat. Nam
      vestibulum dolor suscipit leo consequat iaculis. Nulla placerat fringilla
      augue, eget facilisis justo suscipit ac. Cras eu justo sit amet dolor
      scelerisque iaculis at sed ipsum.</span
    >
  </div>
  <button (click)="signUp()" class="btn btn-primary">FIX MY CLOCK</button>
</div>
