<div class="login-form">
  <form autocapitalize="off" novalidate>
    <h2 class="text-center">Make Reservation</h2>
    <div class="from-group">
      <label for="size">Size</label>
      <em>Required</em>
      <select class="form-control" name="size" id="size" required>
        <option selected="selected" disabled hidden value=""
          >--Choose size--</option
        >
        <option>Small</option>
        <option>Medium</option>
        <option>Large</option>
      </select>
    </div>
    <div class="from-group">
      <label for="city">City</label>
      <em>Required</em>
      <select class="form-control" name="city" id="city" required>
        <option selected="selected" disabled hidden value=""
          >--Choose city--</option
        >
        <option>Dnipro</option>
        <option>Uzhgorod</option>
      </select>
    </div>
    <div class="from-group">
      <label for="city">Date</label>
      <em>Required</em>
      <input
        name="date"
        id="date"
        required
        type="datetime-local"
        class="form-control"
      />
      <div class="buttons text-center">
        <button type="submit" class="btn btn-primary">Find</button>
        <button (click)="cancel()" type="button" class="btn btn-default">
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
